.checkout{
    width:90%;
    min-height: max-content;
    margin:auto;
    margin-top:15%;
    display:flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.3rem;
}
.checkout > *{
    width:100%;
}
.memberCheckout{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--bubbleGumPink);
}
.memberCheckoutLink {
    text-decoration: none; 
  }
  
  .memberCheckoutLink:hover {
    text-decoration:underline;
    text-decoration-color: var(--bubbleGumPink);
  }
  
@media (max-width: 663px) {
    .checkout{
        flex-direction: column;
        align-items: stretch;
    }
    .memberCheckout{
        border-right:none;
        border-bottom: 2px solid var(--bubbleGumPink);
    }
    .checkout > *{
        min-height: 20rem;
    }
  }
  
  