main{
    width:90%;
    margin: auto;
}
#continueShoppingButton{
    margin-bottom: 2rem;
}
#continueShoppingLink{
    text-decoration: none;
    color:var(--lightPink);
}
#continueShoppingButton:hover{
    background-color:var(--bubbleGumPink);
}
