.forgotPassword{
    width:85%;
    margin:center;
    margin-top:3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header, .text{
    text-align: center;
}

.emailInput{
    padding:0.5rem 0;
}
.forgotPasswordLink{
    margin-top: 2rem;
    display:block;
    text-align: center;
    margin:auto;
    padding-bottom: 2rem;
}
