.shoppingCartPageContainer{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.shoppingCartPageContainer > *{
    /*Edit here box-shadow*/
    display:flex;
}
img{
    width:20%;
}
.classDetailsContainer{
    display:flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px;
    margin-bottom: 0.3rem;
    width:90%;
    height:200px;
    margin: auto;
}
#shoppingCartTitle{
    text-align: center;
    font-weight: 400;
    margin: auto;
    margin-top: 2rem;
    display:block;
}
#shoppingCartTitle::after{
    content:"";
    display: block;
    margin:0 auto;
    width:100%;
    padding-top: 20px;
    border-bottom: 1px solid var(--bubbleGumPink);
}
.cartEmpty{
    margin:auto;
    font-size: 1.5rem;
}
.classDetailsContainer .classImageSection{
    width:45%;
}
.classDetailsContainer .classImageSection img{
    display: block;
    width: 100%;
    height: 100%;
}
.classDetailsContainer .classEditQuantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    padding-right:0.3rem;
}
.classDetailsContainer .classEditQuantity button{
    background-color:white;
    color:black;
    font-size: 1rem;
}
.classDetailsContainer .classEditQuantity button:hover{
    border-bottom:1px solid var(--purple);
}
.classDetailsContainer .classEditQuantity .remove{
    background-color: var(--purple);
    color:var(--lightPink);
}
.classDetailsContainer .classEditQuantity .remove:hover,#checkOutButton #checkOutLink:hover{
    color:var(--purple);
    background-color: var(--lightPink);
   
}
#clearButton{
    width:45%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 0.2rem;
}
#clearButton .clearLink{
    text-align: center;
}
 #checkOutButton{
    max-width:75%;
    text-align: center;
    margin-left: 1rem;
    border-radius: 0.2rem;
}
#checkOutButton #checkOutLink{
    text-decoration: none;
    font-size: 1.6rem;
    color:var(--lightPink);
}
#checkOutButton #checkOutLink:hover{
    color:var(--purple);
}
@media(max-width:420px){
    .classDetailsContainer{
        flex-direction: column;
        margin-top:0.3rem;
        height:670px;
        width:80%;
    }
    .classDetailsContainer .classImageSection {
        width: 100%;
        height: 60%;
    }
    .classDetailsContainer .classDetailsContainer{
        flex-direction: column;
    }
    .classDetailsContainer .classEditQuantity{
        flex-direction: row;
        gap:2rem;
    }
    #checkOutButton #checkOutLink{
        font-size: 1rem;
        padding:1rem;
    }
}
