.recipeCardContainer{
    position: relative;
    top:3rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 85%;
    margin: auto;
}
.recipeCardContainer > *{
    width:100%;
}
.recipeCardContainer .imageSection img{
   
    width:100%;
    display: block;
    height: 100%;
}
.recipeCardContainer .detailsSection {
    padding:1rem;
}

@media (max-width:420px){
   .recipeCardContainer{
    flex-direction: column;
    margin-top:2rem;
    top:1rem;
   }
   .recipeCardContainer > *{
    height:200px;
   }
   .recipeCardContainer .detailsSection{
     height:min-content;
   }
   
}