.modalContainer {
    width: 55%;
    height: max-content;
    border: 0.2rem solid var(--bubbleGumPink);
    border-radius: 0.2rem;
    background-color: var(--black);
    color: white;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .modalContainer > div{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center; 
}
.verifyAge{
    margin-top:1rem;
    letter-spacing: 0.2rem;
    width:45%;
}
.ageText{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*Smaller Devices*/
@media (min-width:800px){
    .modalContainer{
        width:75%;
        left:12%;
    }
    .modalContainer > *{
       width:90%;
    }
}
