body {
  overflow-y: scroll;
}
.checkoutHeader{
    text-align: center;
}
.totalCost{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--bubbleGumPink);
}
.totalCostDetails {
  border: 2px solid var(--bubbleGumPink);
}
.totalCostDetails ol li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
hr {
  color: var(--purple);
}
table {
  width: 100%;
}
table,
td,
th {
  border: 2px solid var(--purple);
  border-collapse: collapse;
}
th {
  padding: 1rem;
}
td,
tr {
  padding: 2rem;
}
.generalCustomerInformation,
.billingInformation, billingAddressInformation {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  gap: 0.4rem;
}
.generalCustomerInformation input,
.billingInformation input {
  padding: 0.4rem 0;
}
.generalCustomerInformation input:hover,
.billingInformation input:hover {
  border: 0.18rem solid var(--purple);
}
.iconContainer > * {
  margin-left: 1rem;
}
input[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 10px 5px;
  width: 10rem;
  background-color: var(--purple);
  color: var(--lightPink);
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
input[type="submit"]:hover {
  background-color: var(--lightPink);
  color: var(--purple);
}
.billingAddress{
  width:85%;
  margin: auto;
}